@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');

body {
    background-color: #f2f2f2;
    font-family: "lato";
    font-weight: 300;
    font-size: 18px;
    color: #555;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

h1, h2,h3, h4, h5, h6 {
    font-family: "Raleway";
    font-weight: 300;
    color: #300;
}

p {
    line-height: 28px;
    margin-bottom: 25px;
}

a {
    color: #f85c27;
}

a:hover, a:focus {
    color: #7b7b7b;
    text-decoration: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.navbar {
    opacity: 0.8;
    font-weight: 800;
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-inverse {
    background-color: #2d2d2d;
    border-color: #2d2d2d;*/
}

.navbar-inverse .navbar-nav > .active > a {
    background-color: orangered;
}
.navbar-inverse .navbar-brand {
    color: lightslategrey;
    font-weight: bolder;
    font-size: 22px;
    letter-spacing: 1px;
}

#carousel-example-generic{
    margin-top: -20px;
    padding-top: 20px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 250px;
    width: 100%;
    background-size: 50%;
    
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-caption h1{
    text-align: center;
    color: white;
    font-size: 80px;
}

.w {
    padding-top: 5px;
    text-align: center;
}

.w h4 {
    font-size: 25px;
}

#dg {
    background: #e0e0e0;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}

#dg h4 {
    font-size: 30px;
}

.tilt {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.tilt:hover {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
    
}

.wb {
    padding-top: 5px;
    margin-bottom: ;
    text-align: center;
}

.wb h4 {
    font-size: 30px;
}

#lg {
    background: #ebebeb;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}
#lg h4 {
    font-size: 30px;
}

#r {
    background: #ff7878;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

#r h4 {
    font-size: 30px;
    color: white;
}

#f {
    background: #2d2d2d;
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
}

#f i {
    color: #bdbdbd;
    font-size: 30px;
    padding: 20px;
    
}

#f i:hover { 
    color: #ff7878;
}

#tuner {
    background: white;
    text-align: center;
}
.tun {
    object-position: top;
    width: 110%;
    height: 228px;
    text-align: center;
}
